h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.heading {
  cursor: -webkit-grab;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  font-weight: 300;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #181818;
  background-image: url('../images/papertexture.png');
  background-position: 0px 0px;
  background-size: 256px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.celestin {
  font-family: Lato, sans-serif;
  font-weight: 100;
}

.body {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;

}

.body.home {
  font-size: 14px;
}

.heading-3 {
  position: relative;
  z-index: 10;
  font-family: Lato, sans-serif;
  font-size: 63px;
  line-height: 1.3;
  font-weight: 100;
}

.nav-link {
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: text-shadow 500ms ease, -webkit-transform 500ms ease;
  transition: text-shadow 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, text-shadow 500ms ease;
  transition: transform 500ms ease, text-shadow 500ms ease, -webkit-transform 500ms ease;
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: underline;
  text-transform: lowercase;
}

.nav-link:hover {
  -webkit-transform: translate(0px, 3px);
  -ms-transform: translate(0px, 3px);
  transform: translate(0px, 3px);
  text-shadow: 0 -5px 9px #fff;
}

.div-block {
  height: 100vh;
  padding: 15px;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.brand {
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin-top: 15px;
  margin-left: 25px;
}

.feature-holder {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  text-transform: none;
}

.feature-columns {
  height: 100%;
}

.column-2 {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.fcolumn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-bottom: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  opacity: 0.7;
  -webkit-transition: opacity 350ms ease, box-shadow 650ms ease, padding 650ms ease, opacity 200ms ease, -webkit-transform 500ms ease;
  transition: opacity 350ms ease, box-shadow 650ms ease, padding 650ms ease, opacity 200ms ease, -webkit-transform 500ms ease;
  transition: opacity 350ms ease, transform 500ms ease, box-shadow 650ms ease, padding 650ms ease, opacity 200ms ease;
  transition: opacity 350ms ease, transform 500ms ease, box-shadow 650ms ease, padding 650ms ease, opacity 200ms ease, -webkit-transform 500ms ease;
}

.fcolumn:hover {
  padding-bottom: 40px;
  box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, .5);
  opacity: 1;
}

.feature-div {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}

.button {
  padding: 8px 30px;
  border: 1px none #fff;
  border-radius: 100px;
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: box-shadow 600ms ease, -webkit-transform 600ms ease;
  transition: box-shadow 600ms ease, -webkit-transform 600ms ease;
  transition: transform 600ms ease, box-shadow 600ms ease;
  transition: transform 600ms ease, box-shadow 600ms ease, -webkit-transform 600ms ease;
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: none;
}

.button:hover {
  box-shadow: 0 0 42px 7px hsla(0, 0%, 100%, .25);
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.button.about-button {
  display: block;
  width: 300px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  float: none;
  background-color: transparent;
  box-shadow: 0 0 50px 10px hsla(0, 0%, 100%, .35);
  color: #181818;
  font-weight: 300;
  text-align: center;
  text-decoration: underline;
}

.button.about-button:hover {
  box-shadow: 0 0 42px 7px rgba(0, 0, 0, .25);
  text-decoration: none;
}

.button.about-button.darkutton {
  background-color: transparent;
  box-shadow: none;
  color: #fff;
  font-weight: 200;
}

.button.about-button.darkutton:hover {
  box-shadow: 0 0 50px 10px hsla(0, 0%, 100%, .35);
}

.button.about-button._404button {
  margin-top: 30px;
}

.button.about-button.popup-button {
  margin-top: 40px;
  margin-bottom: 40px;
}

.row {
  padding: 35px 15px;
}

.footer-link {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  color: rgba(0, 0, 0, .7);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

.footer-link:hover {
  color: #000;
}

.column-3 {
  text-align: left;
}

.footer--text {
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 1px solid rgba(0, 0, 0, .7);
  color: rgba(0, 0, 0, .7);
  font-size: 10px;
  text-align: center;
}

.heading-4 {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.social-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  clear: left;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-5 {
  color: #181818;
  letter-spacing: 2px;
}

.section-2 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.submit-button {
  display: block;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 30px;
  border-radius: 50px;
  background-color: #181818;
  background-image: url('../images/papertexture.png');
  background-position: 0px 0px;
  background-size: 256px;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, .7);
  letter-spacing: 2px;
}

.text-field {
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 50px;
}

.image {
  width: 35px;
  opacity: 1;
}

.image-2 {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.footer {
  padding-top: 35px;
}

.footer-logo {
  display: block;
  width: 35px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.footer-logo:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.footer-logo:active {
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.social-icon-link {
  width: 35px;
  opacity: 0.7;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}

.social-icon-link:hover {
  opacity: 1;
}

.social-icon {
  width: 35px;
}

.home-button {
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.home-button:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.section-3 {
  background-image: url('../images/papertexture.png');
  background-position: 0px 0px;
  background-size: 256px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/papertexture.png');
  background-position: 0px 0px;
  background-size: 256px;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.about-section {
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  background-image: url('../images/papertexture.png');
  background-position: 0px 0px;
  background-size: 256px;
  font-weight: 300;
}

.about-text {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 700px;
  padding-right: 50px;
  padding-left: 50px;
  color: #181818;
  line-height: 1.3em;
  font-weight: 300;
}

.about-text.darksection {
  color: #fff;
}

.image-4 {
  position: relative;
  width: 35em;
}

.about-heading {
  display: inline-block;
  margin-bottom: 30px;
  line-height: 1.3em;
  font-weight: 600;
}

.paragraph {
  line-height: 1.3em;
}

.about-paragraph {
  margin-bottom: 5px;
  opacity: 0.6;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
  line-height: 1.5em;
  font-weight: 400;
}

.about-paragraph:hover {
  opacity: 1;
}

.about-paragraph.darkp {
  font-weight: 300;
}

.about-picture {
  width: 400px;
  height: 400px;
  margin-left: -5%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: url('../images/IMG_3113.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
}

.branding-section {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #fff;
  background-color: #181818;
  background-image: url('../images/papertexture.png');
  background-size: 256px;
}

.ui-section {
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pitchecks {
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #181818;
  background-image: url('../images/papertexture.png');
  background-position: 0px 0px;
  background-size: 256px;
}

.branding-picture {
  width: 300px;
  height: 300px;
}

.title {
  margin-top: 0px;
  margin-bottom: 30px;
  opacity: 0.5;
  font-size: 25px;
  font-weight: 100;
  text-align: left;
}

.image-5 {
  width: 100%;
  border-radius: 50%;
  text-align: center;
}

.heading-6 {
  font-weight: 100;
}

.branding-container {
  padding: 15px;
  background-color: #181818;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  color: #181818;
}

.div-block-2 {
  width: 300px;
  height: 300px;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-6 {
  border-radius: 50%;
}

.image-7 {
  border-radius: 50%;
}

.div-block-3 {
  width: 300px;
  height: 300px;
}

.pop-up-contact {
  position: fixed;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  z-index: 99;
  display: none;
  margin-right: auto;
  margin-left: auto;
  background-color: hsla(0, 0%, 100%, .75);
  background-image: url('../images/papertexture.png');
  background-position: 0px 0px;
  background-size: 256px;
}

.div-block-4 {
  position: relative;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 15px solid #181818;
  background-color: #fff;
  background-image: url('../images/papertexture.png');
  background-position: 0px 0px;
  background-size: 256px;
  color: #181818;
}

.popup-info {
  margin-top: 15px;
  text-align: center;
}

/* Tablet */

@media (max-width: 991px) {
  .image-4 {
    width: 25em;
  }
  .branding-section {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .container-3 {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

/* Tablet */

/* Mobile Landscape */

@media (max-width: 767px) {
  .heading-3 {
    font-size: 50px;
  }
  .feature-holder {
    display: none ;
  }
  .fcolumn {
    display: none;
    padding-bottom: 0px;
    box-shadow: none;
  }
  .fcolumn:hover {
    display: none;
    padding-bottom: 0px;
    box-shadow: none;
  }
  .button {
    display: none;
  }
  .about-section {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about-text {
    min-width: 0em;
    margin-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .image-4 {
    width: 30em;
  }
  .about-picture {
    margin-left: 0%;
  }
  .container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .container-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .container-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

/* Mobile Landscape */

/* Mobile */

@media (max-width: 479px) {
  .heading-3 {
    font-size: 30px;
  }
  .feature-holder {
    display: none ;
  }
  .fcolumn {
    display: none;
    padding-bottom: 0px;
    box-shadow: none;
  }
  .fcolumn:hover {
    display: none;
    padding-bottom: 0px;
    box-shadow: none;
  }
  .button {
    padding-right: 15px;
    padding-left: 15px;
    line-height: auto;
    letter-spacing: 1px;
  }
  .button.about-button.popup-button {
    width: 200px;
  }
  .text-span {
    display: none;
  }
  .footer-logo {
    -webkit-transition: -webkit-transform 600ms ease-in-out;
    transition: -webkit-transform 600ms ease-in-out;
    transition: transform 600ms ease-in-out;
    transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
  }
  .about-section {
    padding-top: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about-text {
    width: 100%;
    margin-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .about-picture {
    width: 100%;
  }
  .branding-section {
    padding-top: 40px;
  }
  .ui-section {
    padding-top: 40px;
  }
  .pitchecks {
    padding-top: 40px;
  }
  .branding-picture {
    width: 150px;
    height: 150px;
  }
  .div-block-2 {
    width: 150px;
    height: 150px;
  }
  .pop-up-contact {
    display: none;
    background-color: hsla(0, 0%, 100%, .99);
  }
  .div-block-4 {
    width: auto;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    border-width: 1px;
    background-color: hsla(0, 0%, 100%, .02);
    background-image: none;
    background-size: auto;
  }
  .div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
/* Mobile */
