body {
    -webkit-animation: color-change-3x2 20s linear infinite alternate both;
    -moz-animation: color-change-3x2 20s linear infinite alternate both;
    animation: color-change-3x2 20s linear infinite alternate both;
}

::selection {
    background: #eef442;
}

p {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    -moz-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

p:hover {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    -moz-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
    animation-play-state: running;
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
}

p:active {
    color: #234737
}

.title {
    font-family: Helvetica, Arial, Sans-Serif;
    max-width: 800px;
    font-size: 10em;
    padding: 20px;
    margin: auto;
    color: #fff;
    text-align: center;
    mix-blend-mode: difference;
}

.blur-in{
    -webkit-animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    -moz-animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.holder {
    position: absolute;
    top: 40%;
    bottom: 25%;
    right: 25%;
    left: 25%;
}

.square {
    width: 400px;
    height: 400px;
    margin: auto;
    -webkit-animation: color-change-3x 2s linear infinite alternate both;
    -moz-animation: color-change-3x 2s linear infinite alternate both;
    animation: color-change-3x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-3x2 {
    0% {
        background: #234737
    }
    50% {
        background: #67497f
    }
    100% {
        background: #234170
    }
}

@keyframes color-change-3x2 {
    0% {
        background: #234737
    }
    50% {
        background: #67497f
    }
    100% {
        background: #234170
    }
}

@-webkit-keyframes color-change-3x {
    0% {
        background: #fff
    }
    50% {
        background: #232577
    }
    100% {
        background: #000
    }
}

@keyframes color-change-3x {
    0% {
        background: #fff
    }
    50% {
        background: #232577
    }
    100% {
        background: #000
    }
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px)
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px)
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px)
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px)
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px)
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px)
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px)
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px)
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}


@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}
